html {
	height: 100%;
}
body {
	height: 100%;
	background: url("../assets/eyeOfAfrica.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.down125 {
	margin-top: 125px;
}